body {
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: 100vh;
    margin: 0;
}
input[type=text] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid gray;
}
input[type=email] {
    width: 95%;
    padding: 11px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid gray;
}
button {
    width: 500px;
    height: 40px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 150%;
}
label {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
}
label>span {
    transition: all .2s;
    transform-origin: top left;
}
label>input[placeholder=" "]:not(:focus):placeholder-shown + span {
    transform: translateY(1em) scale(1.25);
    pointer-events: none;
    opacity: .5;
}
label>input[placeholder=" "]:not(:focus):placeholder-shown::before {
    content: '*';
    color: red;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5em;
}
label>input:focus::before {
    content: '';
}
.name-fields {
    display: flex;
    justify-content: space-between;
}
.name-fields label {
    width: 48%;
}
.field-holder {
    border: 1px solid black;
    padding: 2%;
    width: 500px;
}
.custom-checkbox-container {
    display: flex;
    align-items: center;
}
.custom-checkbox {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 8px;
}
.custom-checkbox input {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.custom-checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: white;
    border: 2px solid red;
    border-radius: 2px;
}
.custom-checkbox input:checked + .checkmark {
    background-color: red;
}
.custom-checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.custom-checkbox input:checked + .checkmark:after {
    display: block;
}
.custom-checkbox .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}